.box{
		display:none;
		background-color:blue;
		width:100%;
		color:white;
		margin:5px 0;
		text-align:center;
		padding:5px 0;
		-webkit-border-radius:6px;
		font-size:30px;
		font-weight:bold;
	}
	button{
		font-size:30px;
		font-weight:bold;
		-webkit-border-radius:10px;
		padding:8px;
		border:0;
		margin:9px auto 9px auto;
	}